/* 
 * Basic Reset
 */
* {
    margin: 0; padding: 0; 
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
img, fieldset { border: 0; }
img { max-width: 100%; vertical-align: middle; }
button { cursor: pointer; }
ul { list-style: none; }
/* 
 * typograph
 */
body, input, select, textarea, button {
    font-family: 'Helvetica', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', 'Arial', 'sans-serif';
    font-size: 1em;
}

p {
    line-height: 1.75em;
    margin-bottom: 1.75em;
}

a:focus {
    outline: 1px dotted red;
}
/*
 * structure
 */

.site-header, .navigation-bar, .site-content, .site-footer {
}

.site {
    height: 100%;
    overflow: hidden;
}

.site-content {
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;
}

.content-background {
    top: 0;
    left: 0;
    min-height: 700px;
    height: 100%;
    z-index: -999;
}

.hotspot {
    position: absolute;
}
.hotspot:hover {
    cursor: pointer;
}
.hotspot img {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}

.hotspot-shining {
    position: absolute;
    left: 40%;
    top: 40%;
    height: 20%;
    width: 20%;
    -webkit-animation: pulsatingRed 2s 0s ease-out infinite;
    -moz-animation: pulsatingRed 2s 0s ease-out infinite;
    -webkit-animation: pulsatingRed 2s 0s ease-out infinite;
    border-radius: 50%;
}

#hotspot-1 {
    left: 15.446500402253%;
    top: 70.285714285714%;
}

#hotspot-2-1 {
    left: 30.872888173773%;
    top: 51.428571428571%;
}

.content-foreground {
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.trash-bin {
    position: absolute;
    right: 16.291230893001%;
    bottom: 5.428571428571%;
    width: 3.680611423974%;
    height: 38.714285714286%;
    background: url(../images/trash_bin.png) no-repeat center center;
}

.dump-contract {
    position: absolute;
    right:  8.226065969429%; /* 409/4972*/
    top:    20.857142857143%; /* 146/700*/    
    width:  9.352373290426%; /* 465/4972 */
    height: 56%; /* 392/700*/
    background: url(../images/dump_contract.png) no-repeat center center;
    transform: perspective( 600px ) rotateY( 45deg );
    -webkit-transform: perspective( 600px ) rotateY( 18deg );
    -o-transform: perspective( 600px ) rotateY( 45deg );
    -moz-transform: perspective( 600px ) rotateY( 45deg );
}

.hotspot-ct {
    position: absolute;
    display: none; /* default hide the container */
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hotspot-ct-bg {
    position: relative;
    top: 5.714285714286%;
    width: 90%;
    height: 88.571428571429%;
    margin: auto;
    background: rgba(0,0,0,0.5)
}

.hotspot-close {
    position:absolute;
    top: 1em;
    right: 1em;
    width: 2%;
}
.hotspot-close:hover {
    cursor: pointer;
}

.hotspot-ct {
    position: absolute;
    margin: auto;
}

#hs-content-1 {
    position: relative;
    margin: auto;
    width: 88.222464558342%;
    height: 87.258064516129%;
    top: 6.370967741936%;
    background: url(../images/magzine_bg.png) no-repeat center center;
    background-size: 100% 100%;
}

#hs-content-2-2 {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 90.050590219224%; 
    height: 86.129032258065%;
    top: 6.935483870968%; 
}
.hs2-2-slide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
}

#hs-content-2-2 .page1 {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 50%;
    height: 100%;
    background: url(../images/hs2_2_ad_bg.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#hs-content-2-2 .page2 {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 50%;
    height: 100%;
    background: url(../images/hs2_2_ad2_bg.jpg) no-repeat center center;
    background-size: 100% 100%;
}
#hs-content-2-2 .shining-star {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.next-page-arrow {
    position: absolute;
    display: block;
    width: 2.399040383846%;
    right: 2.399040383846%;
    top: 45.72%;
}

.prev-page-arrow {
    position: absolute;
    display: block;
    width: 2.399040383846%;
    left: 2.399040383846%;
    top: 45.72%;
}

.next-page-arrow:hover {
    cursor: pointer;
}
.prev-page-arrow:hover {
    cursor: pointer;
}

.secret-list {
    position: absolute;
    top: 24.8%;
    width: 100%;
    height: 75.2%;
}
.secret-list li {
    display: inline-block;
    width: 12.954818072771%;
    height: 100%;
    vertical-align: top;
}
.secret-list li:first-child {
    margin-left: 48.180727708916%;
}
.secret-list li .photo {
    display: block;
    top: 0;
    width: 100%;
    margin-bottom: 2%;
}
.secret-list li p {
    font-size: 0.53em;
    padding-left: 0.55555em;
}

/*
 * magzine
 */
.mag-left {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;

}

.mag-right {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

.mag-intro-slogan {
    position: relative;
    display: block;
    top: 0;
    width: 76.069730586371%;
    margin: auto;
    padding-left: 5.5%;
    margin-top: 12.490909090909%
}
.mag-left-split {
    position: relative;
    display: block;
    width: 78.182778658214%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mag-nav-hint {
    position: relative;
    display: block;
    width: 21.553090332805%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}



.mag-bottom-icon {
    position: relative;
    display: block;
    width: 6.339144215531%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mag-nav {
    display: block;
    text-align: center;
}

.mag-nav li {
    display: inline-block;
    width: 24.828314844163%;
    height: 10.406885758998%;
    vertical-align: top;
}

.mag-nav li > div {
    position: relative;
    display: block;
    height: 100%;
}

.mag-nav-tip {
    position: relative;
    display: block;
    margin-top: 2%;
}
.mag-nav-tip-img1  {
    width: 73.191489361702%;
    margin: auto;
}
.mag-nav-tip-img2  {
    width: 73.191489361702%;
    margin: auto;
}
.mag-nav-tip-img3  {
    width: 73.191489361702%;
    margin: auto;
}

.mag-nav-mask {
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#nav-mask-first {
    background: url(../images/magzine_first.jpg) no-repeat center center;
    background-size: 100% 100%;
}
#nav-mask-first:hover {
    background: url(../images/magzine_first_active.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#nav-mask-second {
    background: url(../images/magzine_second.jpg) no-repeat center center;
    background-size: 100% 100%;
}
#nav-mask-second:hover {
    background: url(../images/magzine_second_active.jpg) no-repeat center center;
    background-size: 100% 100%;
}

#nav-mask-third {
    background: url(../images/magzine_third.jpg) no-repeat center center;
    background-size: 100% 100%;
}
#nav-mask-third:hover {
    background: url(../images/magzine_third_active.jpg) no-repeat center center;
    background-size: 100% 100%;
}


.mag-nav li:nth-child(2) {
    margin-left: 1.680438457475%;
    margin-right: 1.680438457475%;
}

.mag-nav-img-bg {
    display: block;
    position: relative;
    top: 0;
    left:0;
    width: 100%;
}

  
.mag-page-ct {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.mag-page-ct.active {
    display: block;
}
.mag-page-ct.inactive {
    display: none;
}

.page-number {
    display: block;
    position: absolute;
    bottom: 3.650057937428%;
    width: 20.81352350766%;
    right: 39.59323824617%;
}

.star-mask-fore {
    display: block;
    position: absolute;
    top: 6.662804171495%;
    left: 1.901743264659%;
    width: 46.064447966191%;
}

.sitting-dog {
    display:none;
    position: absolute;
    bottom: 0;
    max-width: 351px;
    left: 26.6%;
    vertical-align: top;
}

.page-conent-intro {
}


/*
 * header section
 */

/*
 * content
 */


/*
 * general usage
 */

/*
 * clearfix class - in HTML5 world it is the replacement to <div style="clear: both;"></div> 
 * I borrow the code from html5boilerplate.com
 */
.group:before, .group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

/*
 * a general css used to hide labels that we don't want to show to users but still can be read by bot or screen readers
 * */
.hide-vis {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * hide text that we don't need on a button, but still keep it readable to screen reader
 * This tag only hide the text of the element not hide the whole element like .hide-vis
 * so we still can add child element into this element
 */
.hide-text {
    text-indent: 200%; /* move the text out of visible area but still in the page which can be read by screen reader */
    white-space: nowrap;
    overflow: hidden;
}

/*
 * animation
 */
@-webkit-keyframes pulsating {
    0% { box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(255, 255, 255, 0);  }
   10% { box-shadow: 0 0 8px 6px #fff, 0 0 30px 30px transparent, 0 0 12px 14px #fff;  }
  100% { box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(255, 255, 255, 0);  }
}

@-moz-keyframes pulsating {
    0% { box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(255, 255, 255, 0);  }
   10% { box-shadow: 0 0 8px 6px #fff, 0 0 30px 30px transparent, 0 0 12px 14px #fff;  }
  100% { box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(255, 255, 255, 0);  }
}

@-o-keyframes pulsating {
    0% { box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(255, 255, 255, 0);  }
   10% { box-shadow: 0 0 8px 6px #fff, 0 0 30px 30px transparent, 0 0 12px 14px #fff;  }
  100% { box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(255, 255, 255, 0);  }
}

@keyframes pulsating {
    0% { box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(255, 255, 255, 0);  }
   10% { box-shadow: 0 0 8px 6px #fff, 0 0 30px 30px transparent, 0 0 12px 14px #fff;  }
  100% { box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(255, 255, 255, 0);  }
}
@-webkit-keyframes pulsating {
    0% { box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(255, 255, 255, 0);  }
   10% { box-shadow: 0 0 8px 6px #fff, 0 0 30px 30px transparent, 0 0 12px 14px #fff;  }
  100% { box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(255, 255, 255, 0);  }
}

@-webkit-keyframes pulsatingRed {
    0% { box-shadow: 0 0 8px 6px rgba(255, 89, 107, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(255, 89, 107, 0);  }
   10% { box-shadow: 0 0 8px 6px #e04950, 0 0 30px 30px transparent, 0 0 12px 14px #e04950;  }
  100% { box-shadow: 0 0 8px 6px rgba(255, 89, 107, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(255, 89, 107, 0);  }
}
                                                                                                                                           
@-moz-keyframes pulsatingRed {
    0% { box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(224, 73, 80, 0);  }
  100% { box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(224, 73, 80, 0);  }
}

@-o-keyframes pulsatingRed {
    0% {    box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(224, 73, 80, 0);  }
    10% {    box-shadow: 0 0 8px 6px #e04950, 0 0 30px 30px transparent, 0 0 12px 14px #e04950;  }
    100% {    box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(224, 73, 80, 0);  }
}

@keyframes pulsatingRed {
    0% {    box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 0px transparent, 0 0 0px 0px rgba(224, 73, 80, 0);  }
    10% {    box-shadow: 0 0 8px 6px #e04950, 0 0 30px 30px transparent, 0 0 12px 14px #e04950;  }
    100% {    box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(224, 73, 80, 0);  }
}

@-webkit-keyframes pulsatingHover {
    from {    box-shadow: 0 0 8px 6px #e04950, 0 0 12px 10px transparent, 0 0 12px 14px #e04950;  }
    to {    box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 4px 40px transparent, 0 0 4px 41px rgba(224, 73, 80, 0);  }
}

@-moz-keyframes pulsatingHover {
    from {    box-shadow: 0 0 8px 6px #e04950, 0 0 12px 10px transparent, 0 0 12px 14px #e04950;  }
    to {    box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 4px 40px transparent, 0 0 4px 41px rgba(224, 73, 80, 0);  }
}

@-o-keyframes pulsatingHover {
    from {    box-shadow: 0 0 8px 6px #e04950, 0 0 12px 10px transparent, 0 0 12px 14px #e04950;  }
    to {    box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 4px 40px transparent, 0 0 4px 41px rgba(224, 73, 80, 0);  }
} 

@keyframes pulsatingHover {
    from {    box-shadow: 0 0 8px 6px #e04950, 0 0 12px 10px transparent, 0 0 12px 14px #e04950;  }
    to {    box-shadow: 0 0 8px 6px rgba(224, 73, 80, 0), 0 0 4px 40px transparent, 0 0 4px 41px rgba(224, 73, 80, 0);  }
}



