 

/*video1 hs-content-2-1*/
.video1_text{
	position: absolute;
	width: 49.04%; /*461px*/
	top: 4%;
	left: 7%;
}

#hs-content-2-1{
    position: relative;
    margin: auto;
    width: 86.49%;/*813px*/
    height: 80%;/*494px-视频播放器进度条*/
    top: 13%;
}

.video_player{
	position: relative;
	width: 100%;
	height: 100%;
}



/*video2 hs-content-2-3*/

.video2_text{
	position: absolute;
	width: 36.17%;/*349px*/
	top: 4%;
	left:31.81% ;
}


.video2_container{
	position: absolute;
	display: block;
	/*margin: auto;*/
	width: 100%;
	height: 93.686354378819%;
	top: 6.313645621181%;
	left: 0%;
}

.video2_player{
	position: relative;
	width: 100%;
	height: 100%;
}

.video2_selectUp{
	position: absolute;
	width: 45%;
	height: 42%;
	top: 9%;
	left:60%;
	/*display: inline-block;
	vertical-align: baseline;*/
	border-color: #B3747A;
	border-bottom-style: solid;
	border-width: 1px;

}

.video2_selectDown{
	position: absolute;
	width: 45%;
	height: 45%;
	top: 54%;
	left:60%;
	/*display: inline-block;
	vertical-align: baseline;*/
}

#video2_title {
	position: absolute;
	display: block;
	top: 0%;
    left: 0%;
    height: 6.313645621181%;
    width: 100%;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 0.5px #B3747A;
    -moz-text-stroke: 0.5px #B3747A;
    -o-text-stroke: 0.5px #B3747A;
    text-stroke: 0.5px #B3747A;
    text-align: left;
}

#video2_title span {
    position: absolute;
    display: block;
    bottom: 0;
    width:100%;
    
}

.video2_1_title{
	float: left;
	top: 4%;
    left: 0%;
    width: 80%;
    margin-right:5%; 
	margin-bottom: 5%;
    font-size: 0.5em;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 0.5px #B3747A;
    text-align: left;
    word-break:normal;
	
}

.video2_small{
	/*position: relative;*/
	float: left;
	top: 20%;
	width: 45%;
	height: 48.5%;
	
	margin-bottom: 5%;
}




.video2_abbre{
	position: absolute;
	top:22%;
	width: 42%;
	height: 70%
}



.video2_cover1{
	position: absolute;
	top:22%;
	width: 45%;
	height: 70%;
	z-index: 1;
	background-color: transparent;
}

.video2_cover2{
	position: absolute;
	top:22%;
	width: 45%;
	height: 70%;
	z-index: 1;
	background-color: transparent;
}

.video2_cover3{
	position: absolute;
	top:22%;
	width: 45%;
	height: 70%;
	z-index: 1;
	background-color: transparent;
}

.video2_cover4{
	position: absolute;
	top:22%;
	width: 45%;
	height: 70%;
	z-index: 1;
	background-color: transparent;
}


/*video3 hs-content-2-4*/
.video4_text{
	position: absolute;
	width: 48.08%;/*452px*/
	height: 4.903347477605%;
	top: 4.930693069307%;
	left: 25.96%;
}

#video3_title {
	position: absolute;
	display: block;
	top: 0%;
    left: 0%;
    height: 6.32%;
    width: 100%;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 0.5px #B3747A;
    -moz-text-stroke: 0.5px #B3747A;
    -o-text-stroke: 0.5px #B3747A;
    text-stroke: 0.5px #B3747A;
    text-align: left;
}

#video3_title span {
    position: absolute;
    display: block;
    bottom: 0;
    width:100%;
    
}

#hs-content-2-4 {
    position: relative;
    display: block;
    margin: auto;
    overflow: hidden;
    width: 89.36%; 
    height: 83.075342465753%;
    top: 8.962328767124%; 
}

.hs-content-2-4-left {
    position: relative;
    display: inline-block;
    width: 52.088452088452%;
    height: 100%;
    top: 0;
    left: 0;
}

.video3_container{
	position: absolute;
	display: block;
	/*margin: auto;*/
	width: 100%;
	height: 93.68%;
	top: 6.32%;
	left: 0%;
}

.hs-content-2-4-right {
    position: relative;
    display: inline-block;
    width: 47.911547911548%;
    height: 100%;
    top: 0;
    left:4%;
}

.hs-content-2-4-video-list {
    position: absolute;
    width: 100%;
    height: 93.686354378819%;
	top: 6.313645621181%;
    left: 0;
    overflow: scroll;
}

.hs-content-2-4-video-list li {
    display: inline-block;
    width: 80%;
    height: 30%;
    margin-bottom:5%; 
}

.hs-content-2-4-video-list li .video {
    position: relative;
    width: 90%;
    height: 100%;
    padding-bottom: 10%;
}

.video-2-4-title {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 19.130434782609%;
}

.video-2-4-title span {
    position: absolute;
    display: block;
    top: 0;
    width:100%;   
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 0.5px #B3747A;
    -moz-text-stroke: 0.5px #B3747A;
    -o-text-stroke: 0.5px #B3747A;
    text-stroke: 0.5px #B3747A;
    text-align: left;
}

.video-2-4-preview {
    position: relative;
    left: 0;
    top: 0%;
    height: 100%;
    width: 50%;
    border: #C66471;
    border-style: solid;
    border-size: 0.5px;
}

.video-2-4-preview .preview-mask {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
}

.video-2-4-preview:hover {
    cursor: pointer;
    border: #FFF;
    border-style: solid;
    border-size: 0.5px;
}

.video-2-4-preview img{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}


.video-2-4-preview .play_btn{
    position: absolute;
    width: 18.55%;
    top: 29.725%;
    left:41.725%;

}
